table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
  th {
    background-color: #dddddd;
  }
  tr:nth-child(even) td {
    background-color: #f2f2f2;
  }